.button {
  border-radius: 0px;
  background-color: white;
  color: #c6cfda;
  padding: 0.8em 0.8em;
  border: none;
  margin-left: 3px;
  font-size: 11px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #c6cfda;
  color: white;
}
